li {
    margin: 5px 20px 5px 20px;
    color: white;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
}

#navbar-nav {
    display: flex;
    justify-content: center;
    
}

#ul-nav {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}