body {
    margin: 0px;
}

#title {
    color: black;
    font-size: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}
